<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research SMACSS</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="info-card info-card--highlight">
        <div class="info-card__header">
            <img src="userprofile.jpg" class="info-card__image" alt="User Profile Image">
            <h2 class="info-card__name">Reyn Arana</h2>
            <p class="info-card__title">Web Dev</p>
        </div>
        <div class="info-card__body">
            <p class="info-card__email">GitHub Account: reynarana</p>
            <p class="info-card__phone">Phone Number: +639760939282</p>
        </div>
        <div class="info-card__footer">
            <button class="info-card__button1">Contact Me</button>&nbsp;
            <button class="info-card__button2">View Profile</button>
        </div>
    </div>
</body>
</html>
